<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type="com.tledu.tt.pojo.IPAndLocationPojo" alias="IPAndLocation" />
		
	</typeAliases>

	<!-- 映射文件 -->
	<mappers>
		<!-- 注解方式 -->
		
		<!-- 找到对应的xml -->
		<mapper resource="com/tledu/tt/mapper/IPAndLocation.xml" />
		
	</mappers>
</configuration>